html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

h1 {
  background-image: linear-gradient(
    rgba(23, 26, 33, 0.5),
    #171a21 50%,
    #171a21 70%,
    rgba(23, 26, 33, 0.5)
  );
  background-color: #023257;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.5px #c7d5e0;
  font-size: 50px;
  height: 100%;
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}
