html {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  line-height: 1.1em;
}

a:visited {
  color: rgb(0, 71, 141);
}

a {
  color: rgb(0, 71, 141);
}

/* canvas {
  display: block;
  margin: 0 auto;
  z-index: -1;
} */
