html {
  background-color: black;
  color: white;
  line-height: calc(7px + 1.1vh);
}

.redirects {
  background-color: gray;
  transform: translate(0, 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (min-width: 960px) {
  .redirects {
    font-size: 50px;
  }
}

@media all and (max-width: 959px) and (min-width: 600px) {
  .redirects {
    font-size: 5vw;
  }
}

@media all and (max-width: 599px) and (min-width: 50px) {
  .redirects {
    font-size: 6vw;
  }
}

a:visited {
  color: rgb(0, 71, 141);
}

a {
  color: rgb(0, 71, 141);
}

/* canvas {
  display: block;
  margin: 0 auto;
  z-index: -1;
} */
